@import "variables";
@import "../tests-valo/valotest";

.tests-valo-reindeer {
   @include valotest;
   
   	.my_bg_style {
     color:red;
     border:1px solid blue;  
	}
	
	.estilo_RACC {
	   background-color:black;
	   color:white;
	   font-weight: bold;
	}
	
	.estilo_BBVA {
	   background-color:blue;
	   color:white;
	   font-weight: bold;
	}	
	
	
}


