@import "variables";
@import "../tests-valo/valotest";

.tests-valo-reindeer {
   @include valotest;
   
   	.my_bg_style {
     color:red;
     border:1px solid blue;  
	}
	
	.fondo_rojo {
	   background-color:red;
	   background-red;
	}
	
	
}


